//  ------------------------------
//  text size : mixins : utilities
//  ------------------------------

    @function _line-height-as-rem($line-height, $multiplier) {
      @return $line-height * $multiplier + rem;
    }

    @function _nearest-quarter-value-as-rem($line-height, $multiplier) {
      @return round($line-height * $multiplier * 4) / 4 + rem;
    }

    @mixin _line-height($line-height, $multiplier, $is-strict) {
      @if $is-strict {
        line-height: _nearest-quarter-value-as-rem($line-height, $multiplier);
      } @else {
        line-height: _line-height-as-rem($line-height, $multiplier);
      }
    }

    @mixin text-size ($multiplier: 1, $is-responsive: true) {
      $line-height: 'base-line-height';

      @if $is-responsive and $is-responsive == true {
        @each $breakpoint, $bases in $responsive-typography {

          @media (min-width: breakpoint-value-to-em($breakpoint)) {
            line-height: _line-height-to-rem(map-get($bases, $line-height), $multiplier);
          }

        }
      } @else {
        line-height: _nearest-quarter-value-to-rem($base-line-height, $multiplier);
      }

      font-size: $multiplier + rem;
    }
