//  ---------------------------
//  gap : functions : utilities
//  ---------------------------

    @function _gap-to-rem($font-size, $line-height, $multiplier, $pixel-offset) {
      @return ($line-height * $multiplier * $font-size + $pixel-offset) / $font-size + rem;
    }

    @function gap(
      $multiplier: 1,
      $pixel-offset: 0px,
      $use-line-height: true,
      $is-responsive: true) {

      @if $use-line-height {
        @if $is-responsive {

          @each $viewport, $bases in $responsive-typography {
            $font-size: map-get($bases, 'base-font-size');
            $line-height: map-get($bases, 'base-line-height');

            @return _gap-to-rem($font-size, $line-height, $multiplier, $pixel-offset);
          }

        }

        @return _gap-to-rem($base-font-size, $base-line-height, $multiplier, $pixel-offset);
      }

      @return $multiplier + $pixel-offset rem;

    }
