//  -------------------------------
//  define base typography : mixins
//  -------------------------------

//  define base typography
//  ==  NOTE  =================================================================
//  this sets the typography on the HTML tag.
//  ---------------------------------------------------------------------------
@mixin define-base-typography() {
  font-size: $liney-base-font-size;
  line-height: $liney-base-line-height;

  @each $breakpoint, $bases in $liney-responsive-typography {

    @media (min-width: breakpoint-value-to-em($breakpoint)) {
      font-size: map-get($bases, 'base-font-size');
      line-height: map-get($bases, 'base-line-height');
    }

  }
}
