//  ----------------------------------
//  typography : variables : utilities
//  ----------------------------------

//  default
//  -------
    $base-font-size:   16px;
    $base-line-height: 1.5;


//  base responsive typography
//  ==  NOTES  ================================================================
//  this map allows you to set some base font sizes that will be iterated upon
//  and used for setup on the HTML tag.
//  ===========================================================================
//  the keys are designed to map against another map, our breakpoint map and
//  that's where you can define at what size to be affected at.
//  ---------------------------------------------------------------------------
    $responsive-typography: (
      'mob': (
        'base-font-size':   14px,
        'base-line-height': 1.4285714286
      ),

      'lap': (
        'base-font-size':   16px,
        'base-line-height': 1.5
      ),

      2048px: (
        'base-font-size':   28px,
        'base-line-height': 1.4285714286
      ),
    );


    $use-liney-guide: true;
